@charset "UTF-8";
body {
  background-color: var(--background-color);
  color: var(--title-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.peculiarities-container__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.hero-button, .submit {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.our-work-section, .our-team-section, .clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-work-container__title, .our-team-container__title, .clients__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #212121;
}

.logo {
  display: block;
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo--header {
  margin-top: 24px;
  margin-bottom: 24px;
}

.logo--header span {
  color: #000000;
}

.logo--footer span {
  color: #ffffff;
}

.header-section {
  background-color: #ffffff;
  border-bottom: 1px solid #f5f4fa;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  padding-top: 20px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #2196f3;
}

/* ---------- Подчеркивание меню ---------- */
.site-nav__link::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: #2196f3;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.current::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-list__item + .contact-list__item {
  margin-left: 30px;
}

.contact-list__link {
  display: block;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-list__link:hover, .contact-list__link:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-list__icon:hover, .contact-list__icon:focus {
  fill: #2196f3;
}

.hero-section {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  max-width: 1600px;
  margin: 0 auto 0 auto;
  background-position: center;
  background-size: cover;
}

.hero-container {
  display: block;
}

.hero-container__title {
  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  display: block;
  border: 0;
  border-radius: 4px;
  padding: 10px 30px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.section-peculiarities {
  padding-top: 94px;
}

.peculiarities-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.peculiarities-container__title {
  margin-left: auto;
  margin-right: auto;
}

.peculiarities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
}

.peculiarities-list__item:not(:last-child) {
  margin-right: 30px;
}

.peculiarities-list__title {
  color: #212121;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
}

.peculiarities-list__description {
  margin-top: 10px;
  color: #757575;
  line-height: 1.71;
}

.peculiarities-list__icon {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 25px 100px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.our-work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.task-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task-list__item {
  position: relative;
  margin-top: 50px;
}

.task-list__item:not(:last-child) {
  margin-right: 30px;
}

.task-list__text {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team-section {
  background-color: #f5f4fa;
}

.our-team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.employee-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.employee-cards__item {
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.employee-cards__item:not(:last-child) {
  margin-right: 30px;
}

.employee-cards__description {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
}

.employee-cards__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.employee-cards__position {
  margin-top: 10px;
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.employee-so-net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 32px 0 32px;
}

.employee-so-net__item:not(:last-child) {
  margin-right: 10px;
}

.employee-so-net__link {
  fill: #afb1b8;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
}

.employee-so-net__link:hover, .employee-so-net__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-container {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link {
  fill: #afb1b8;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.addresses {
  margin-top: 20px;
  margin-right: 70px;
}

.addresses__item:not(:first-child) {
  margin-top: 9px;
}

.addresses__link {
  color: #ffffff;
  font-style: normal;
  line-height: 1.71;
}

.addresses__link:hover, .addresses__link:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addresses__contact {
  color: #757575;
  font-style: normal;
  line-height: 1.71px;
}

.addresses__contact:hover, .addresses__contact:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-block__title {
  padding-top: 12px;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-right: 70px;
}

.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #44454e;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
}

.social-networks__link:hover, .social-networks__link:focus {
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__icon {
  fill: #ffffff;
}

.subscription-form {
  margin-left: auto;
}

.subscription-form__title {
  padding-top: 12px;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscription__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 385px;
  height: 50px;
  padding: 15px 16px;
  margin-top: 20px;
  margin-right: 12px;
  font-family: Roboto;
  font-size: 16px;
  line-height: calc(20 / 16);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 28px 10px 29px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.telegram-icon {
  margin-left: 10px;
  fill: #ffffff;
}
/*# sourceMappingURL=main.css.map */